footer {
        
        p {
        font-size:$font-secundaria;
        background-color: orange;
        bottom: 0;
        position: absolute;
        width: 100%;
        text-align: center;
        color: azure;
        padding: 2em;

  }
}
