footer {
  .foot {
    background-color: orange;

    .iconos {
      color: black;
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
}

$redes: (
  facebook: blue,
  instagram: rgb(127, 14, 119),
  whatsapp: green,
);
