* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  body {
    font-family: $font-secundaria;
    background-image: url(../img/pelu.jpg);
    background-size: cover;
    color: aliceblue;
    border: 3em;
    header {
      background-color: black;
      a {
        text-decoration: none;
        h1 {
          font-family: $font-principal;
          color: rgb(248, 154, 13);
          margin-left: 10px;
          font-size: 4em;
        }
      }
    }
  }
}
nav {
  ul {
    li {
      a {
        font-size: $font-secundaria;
        display:inline-flex;
        color: orange;
      }
    }
  }
}
