main {
  height: 100vh;
  h2 {
    color: black;
    text-align: center;
    font-family: $font-principal;  }
}
.cajas{
  padding: 10px;
  display: flex;
  gap: 30px;
}
.caja{
  img{
    max-width: 100%;
    border: solid 5px black;
    border-radius: 10px;
  }
}
#boton {
  width: 50%;
  font-size: x-large;

}
#botonTurno {
  width: 50%;
  font-size: x-large;
  
}
.descripcion {
  font-size: 25px;
  font-family: $font-secundaria;
  padding: 5px;
  border: solid 5px;
  border-radius: 10px;
}
@mixin colores ($border, $color, $background){
  background-color: $background;
  color: $color;
  border-color: $border;
  
}
.cajas .descripcion1 {
  @include colores(orange, black ,white )
}
.cajas .descripcion2 {
  @include colores( black ,white, orange)
}
.cajas .descripcion3 {
  @include colores(orange, white,black )
}