main {
  height: auto;
  flex-wrap: wrap;
  h2 {
    color: black;
    text-align: center;
    font-family: $font-principal;  }
}
img {
  width: 320px;
  height: 340px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.cajas{
  padding: 10px;
  display: flex;
  gap: 30px;
}
.caja{
  img{
    max-width: 100%;
    border: solid 5px black;
    border-radius: 10px;
  }
}
.card{
  font-size: 20px;
  font-family: $font-secundaria;
  padding: 5px;
  border: solid 5px;
  border-radius: 10px;
  color: orange;
}
.cantidadCarrito{
  background-color: rgb(255, 157, 0);
  color: #000000;
  border-radius: 100%;
  font-size: 12px;
  padding: 4px;
  position: absolute;
  display: none;
}
.shopContent{
  display: inline;
  justify-content:center;
  flex-wrap: wrap;
  margin: 10px 10px 10px 2px;
  justify-content: center;
}
.cardShop{
  max-width: 15%;
  display:inline-grid;
  box-shadow: 0 4px 8px 0 rgba($color: #ff9d00, $alpha: 1.0);
  background-color: rgb(0, 0, 0);
  margin: 20px 10px 10px 5px;
  text-align: center;
  img{
    width: 100%;
    height: 100%;
  }
}

.delete-producto{
  cursor: pointer;
}
.modal-header-button{
  cursor: pointer;
}
.modal-caja{
  width: 70%;
  margin: 0 10%;
  max-height: 80vh;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  overflow: auto;
  z-index: 9;
  top: 11vh;
  scrollbar-color: none;
  border: solid 2px orange;
  border-radius: 5px;
}
.fa-xmark{
  color: red;
  height: 5vh;
  font-size: x-large;
  justify-content: center;
}
.modal-caja::-webkit-scrollbar{
  display: none;
}
.total-contenido{
  font-size: 6vh;
  background-color: orange;
  color: #000000;
  justify-content: center;
  text-align: center;
}
.modal-header{
  display: flex;
  width: 80%;
  color: #ff9d00;
}
#boton {
  width: 50%;
  font-size: x-large;

}
#botonTurno {
  width: 50%;
  font-size: x-large;
  
}
.descripcion {
  font-size: 20px;
  font-family: $font-secundaria;
  padding: 5px;
  border: solid 5px;
  border-radius: 10px;
}
@mixin colores ($border, $color, $background){
  background-color: $background;
  color: $color;
  border-color: $border;
  
}
.cajas .descripcion1 {
  @include colores(orange, black ,white )
}
.cajas .descripcion2 {
  @include colores( black ,white, orange)
}
.cajas .descripcion3 {
  @include colores(orange, white,black )
}