* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  * body {
    font-family: "Montserrat", sans-serif;
    background-image: url(../img/pelu.jpg);
    background-size: cover;
    color: aliceblue;
    border: 3em; }
    * body header {
      background-color: black; }
      * body header a {
        text-decoration: none; }
        * body header a h1 {
          font-family: "Kanit", sans-serif;
          color: #f89a0d;
          margin-left: 10px;
          font-size: 4em; }

nav ul li a {
  font-size: "Montserrat", sans-serif;
  display: inline-flex;
  color: orange; }

main section h2 {
  color: black;
  text-align: center;
  font-size: "Kanit", sans-serif;
  background-color: orange; }

main section article img {
  width: 25%;
  height: 25%; }

p {
  font-size: "Kanit", sans-serif;
  background-color: black;
  color: orange;
  text-align: center;
  border-radius: 1em; }

footer p {
  font-size: "Montserrat", sans-serif;
  background-color: orange;
  bottom: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  color: azure;
  padding: 2em; }
